:root {
    background-color: #632;
}

.center-column {
    background-color: #fb6;
}

hr {
    color: #c8c;
}

footer {
    background-color: #c84;
}

.panel {
    border: 4px solid #632;
    background-color: #fb6;
}

details {
    background-color: #c84;
}

a {
  color: #00f;
}

a:hover {
    background-color: #c84;
}