body {
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    
    margin: 4px;
    display: grid;
    grid-template-columns: min-content 3fr min-content;
    column-gap: 4px;
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;
    
}

body > * {
    border: 1px solid salmon;
    box-shadow: 2px 2px black;
}


textarea {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    resize: none;
    flex: 1;
}

.left-panel {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#canvasflex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

canvas {
    align-self: center;
    width: 256px;
    aspect-ratio: 1/1;
    image-rendering: crisp-edges;
}

.popup {
    div {
        position: absolute;
        left: 30px;
        right: 30px;
        top: 30px;
        bottom: 30px;
        background-color: white;
    }
}

h1, p {
    font-size: 1em;
    margin: 0px;
}

#settings {
    overflow-y: scroll;
    grid-row: span 2;
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    grid-column-gap: 4px;
    grid-auto-rows: min-content;
    
    label,summary {
        grid-column: 1 / -1;
        padding: 0px 4px;
        font-size: 0.75em;
    }

    div {
        display: flex;
    }

    input {
        margin: 0px 4px;
    }
    button {
        width: min-content;
    }

    details {
        border-top: 1px solid salmon;
        border-bottom: 3px double salmon;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
        grid-auto-rows: min-content;
        background-color: #f223;
    }

    details[open]::details-content {
        display: contents;
    }
}

dialog {
    margin: 128px;
}