.grid-machine {
	display: grid;
	grid-template-columns: repeat(4, 120px);
	width: min-content;
	column-gap: 4px;
	row-gap: 4px;
	padding: 4px;
	background: linear-gradient(-45deg,#333,#555);
}

.machine {
	background: radial-gradient(#000,#222);
	display:flex;
	flex-direction: column;
	align-items:stretch;
	justify-content: center;
	aspect-ratio: 1 / 1;
	position: relative;
	user-select: none;
	transition: border-width 0.25s;
	max-height: 160px;
}
.machine:hover {
	background: radial-gradient(#300,#533);
}

.machine:has(.machine-inner) {
}

.machine-inner {
  box-sizing: border-box;
  width: 120px;
	aspect-ratio: 1 / 1;
	border: outset #0004 5px;
	background-color: #44f;
	color: white;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.desc {
	font-size: 0.75em;
}

.inventory-machine {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

.mouse {
	background: white;
	padding: 10px;
	box-shadow: 10px 10px 5px #0004;
	position:absolute;
	pointer-events:none;
}

.machine-inner ul {
	flex-grow: 1;
	margin: 0px;
	padding-left: 25px;
}

.processing-cores {
	display: flex;
	border: 2px solid black;
  margin-top: auto;
}
.core {
	border: inset #0004;
	flex-grow: 1;
	text-align: center;
	border-color: hsl(40deg, 50%, calc(var(--p) * 100%));
}
.core:hover {
	border-color: green;
	pointer-events: all;
}

.interval-timer {
  margin-top: auto;
	position: relative;
	background: linear-gradient(to right,#494,#5f5);
	text-align: center;
	color: #000;
}

.interval-indicator {
	position: absolute;
	top: 0%;
	left: 0%;
	bottom: 0%;
	background: linear-gradient(to right,#944,#f55);
	text-align: center;
	color: #fff;
	transition: right 0.25s;
}

.machine-trading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 50px auto;
}

.tradable-machine {
  display: grid;
  grid-row: 1 / -1;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
}

.trade-purchaser {
	display: flex;
  flex-direction: column;
}

.trade-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.trade-costs {
	color: white;
  height: 40px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
  justify-content: stretch;
}

.cost {
  flex-grow: 1;
}

.unbuyable {
	color: red;
}