table {
    margin-left: -60px;
    margin-right: -60px;
    border: 2px solid #c8c;
    background-color: #eaf;
}

td, th {
    padding: 10px;
    border: 2px solid #c8c;
}


div:has(#show-games:not(:checked)) ~ table .rec.game {
  display: none;
}

div:has(#show-films:not(:checked)) ~ table .rec.film {
  display: none;
}

div:has(#show-comics:not(:checked)) ~ table .rec.comic {
  display: none;
}